<template>
  <v-app-bar
    color="white"
    light
    max-height="56px"
    class="secondary--color top-border"
  >
    <v-toolbar-title>
      Some Title
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
export default {
  name: 'NavBar',
};
</script>

<style scoped>
.top-border::before {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  height: 12px;
  width: 100%;
  background-color: #7C3AED;
}
</style>
