<template>
  <div class="header">
    <h1>This is a Header</h1>
    <ul><li>stuff</li><li>other stuff</li></ul>
  </div>
</template>

<script>
export default {
	name: 'Header',
	data: () => ({
		stuff: null,
	}),
};
</script>

<style scoped>

</style>
