<template>
  <div class="vnp-menu">
    <div v-if="routes">
      <ul class="unstyled-list">
        <li v-for="(item, index) in routerData" :key="index">
          <router-link :to="item.path">{{ item.name }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
	name: 'Menu',
	props: {
		routerData: {
			type: [],
			default: null,
			required: false,
		},
	},
	computed: {
		routes() {
			return this.$router?.options?.routes?.length ? this.$router.options.routes : this.routerData;
		}
	}
};
</script>

<style scoped>
.vnp-menu {
  position: absolute;
  top: 20px;
}
</style>
