<template>
  <v-app>
    <NavBar />
    <v-main>
      <HelloWorld />
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import NavBar from '@/components/NavBar/NavBar';

export default {
  name: 'App',
  components: {
    NavBar,
    HelloWorld,
  },
  data: () => ({

  }),
};
</script>
